// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

// Begin Original
// $primary   = #027be3
// $secondary = #26A69A
// $tertiary  = #555
// $neutral   = #E0E1E2
// $positive  = #21BA45
// $negative  = #DB2828
// $info      = #31CCEC
// $warning   = #F2C037
// End Original


 $primary   = #408ab4
 $secondary = #34699a
 $tertiary  = #555
 $neutral   = #E0E1E2
 $positive  = #21BA45
 $negative  = #DB2828
 $info      = #113f67
 $warning   = #F2C037

/*
-------------------------------Ok 1
 $primary   = #042f4b
 $secondary = #216583
 $tertiary  = #555
 $neutral   = #E0E1E2
 $positive  = #21BA45
 $negative  = #DB2828
 $info      = #63aabc
 $warning   = #F2C037
-------------------------------Ok 2
 $primary   = #408ab4
 $secondary = #34699a
 $tertiary  = #555
 $neutral   = #E0E1E2
 $positive  = #21BA45
 $negative  = #DB2828
 $info      = #113f67
 $warning   = #F2C037
-------------------------------Ok 3
 $primary   = #ff7657
 $secondary = #ffba5a
 $tertiary  = #555
 $neutral   = #E0E1E2
 $positive  = #21BA45
 $negative  = #DB2828
 $info      = #665c84
 $warning   = #F2C037
-------------------------------


$primary   = #4baea0
$secondary = #b6e6bd
$tertiary  = #D9B08C

$neutral   = #5D5C61
$positive  = #21BA45
$negative  = #DB2828
$info      = #f1f0cf
$warning   = #F2C037

$primary   = #557A95
$secondary = #7395AE
$tertiary  = #379683

$neutral   = #5D5C61
$positive  = #B1A296
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

*/
